 *{
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
 }
 
 
 body{
    text-align: center;
 }

/* INICIO */
.titulo{
   position: absolute;
font-size: 3rem;
   top:30%;
   left:10%;
}

/* ABOUT */
 .container{

   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

/* BLOG */
